# MySQL/MariaDB Configuration File

# General settings for both client and server
[client-server]

# Server settings
[mysqld]
# Basic settings
user = mysql
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
skip-external-locking
skip-name-resolve
port = 3306

# Networking
bind-address = 0.0.0.0  # Allow connections from other containers on the same network
skip-networking = 0      # Ensure networking is enabled

# Security
symbolic-links = 0

# Custom settings (MariaDB specific)
[mariadb]

# Logging settings
log-error = /var/log/mysql/error.log
pid-file = /run/mysqld/mysqld.pid

# Custom user configuration
!includedir /etc/my.cnf.d/
